* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --box-shadow: #0003;
}

html {
    scroll-behavior: smooth;
}

button {
    cursor: pointer;
    font: inherit;
}

body {
    margin: auto;
    font-size: 22px;
    line-height: 1.8rem;
    text-align: center;
}

h1 {
    margin: 24px 0px;
    line-height: 4rem;
    font-size: 50px;
}

h2 {
    margin: 18px 0px;
}

main {
    max-width: 1100px;
    margin: 20px auto;
    background-color: var(--light);
    padding: 0px 40px;
    
}

input {
    padding: 8px 20px;
    border: 1px solid var(--box-shadow);
    font-size: 22px;
    border-radius: 4px;
    width: 250px;
}

button {
    padding: 8px 18px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 4px;
    margin: 0px 8px;
}

.res {
    margin-top: 20px;
    padding: 20px;
    background-color: var(--light);
    border-radius: 4px;
    display: inline-block;
    text-align: left;
}