* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --box-shadow: #0003;
}

html {
    scroll-behavior: smooth;
}

button {
    cursor: pointer;
    font: inherit;
    padding: 0.18rem 1.5rem;
    background-color: black;
    color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

body {
    margin: 1.8rem;
    font-size: 18px;
    line-height: 1.8rem;
    text-align: center;
}

input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

h1 {
    margin: 18px 0px;
    line-height: 2rem;
}

h2 {
    margin: 18px 0px;
}